/* general styles */

:root {
    --text-gray: #18191F;
    --text-white: #FFF;
    --main-font-family: "Josefin Sans , sans-serif";
    --second-font-family: "Libre Baskerville , serif";
    --title-color: #023F3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
    color: var(--text-gray);
}

body {
    /* font-family: var(--main-font-family);
    color: var(--text-gray); */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* header styles */

.header .header--container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

.header .logo img {
    width: 172px;
}

.header .header--nav-items {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header .header--nav-item {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.header .header--nav-item:hover {
    color: #152aa6;
}

.header li:last-child {
    padding: 10px 22px 10px 23px;
    background-color: #C13512;
}

.header li:last-child:hover {
    background-color: #f40b0b;
}

.header .header--nav-items .btn {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}


/* hero styles */

.hero {
    padding-top: 119.5px;
    background-image: url('../images/BG.svg');
    background-repeat: no-repeat;
    background-size: 100% 85%;
}

.hero .hero--title {
    color: var(--text-white);
    text-align: center;
    font-family: var(--second-font-family);
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.hero .hero--desc {
    color: #F5F5F5;
    text-align: center;
    font-family: Josefin Sans;
    margin-bottom: 50px;
}

.hero .hero--btn {
    display: flex;
    width: 470px;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 60px;
    cursor: pointer;
}

.hero .hero--btn a {
    height: 48px;
    color: var(--text-white);
    font-family: Josefin Sans;
    font-weight: 500;
    letter-spacing: 0.46px;
    padding: 15px 50px;
    border: 1px solid white;
}

.hero .hero--btn a:hover {
    background-color: #FFF;
    color: var(--title-color);
}

.hero img {
    width: 825px;
    margin-left: 150px;
}